# Ignore configurações do VSCode
.vscode/

# Ignore dependências do Node.js
node_modules/

# Ignore arquivos de build e cache
dist/

# Ignore arquivos de sistema 
.DS_Store  # Arquivo oculto no macOS
Thumbs.db  # Arquivo de cache do Windows

# Ignore variáveis de ambiente
.env


.vercel
